$font-family-helvetica-neue: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-family-ibm-plex-mono: 'IBM Plex Mono', monospace;
$font-color-beige: #D9D9D9AD;
$font-color-blackish: #0e0e0e;
$font-family-pp-neue-montreal: 'PP Neue Montreal', sans-serif;
$font-color-whiteish: #f1F1f1;


.about_me {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;

    .small_title_about {
        position: relative;
        bottom: 22rem;
        left: 5.5rem;

        span {
            color: $font-color-whiteish;
            text-transform: uppercase;
            font-family: $font-family-helvetica-neue;
        }
    }

    .description_about {
        p {
            line-height: 4rem;
            color: rgba(234, 232, 232, 0.861);
            font-size: 2.2rem;
            font-family: $font-family-pp-neue-montreal;
            opacity: .7;
            margin-left: 3rem;
        }
    }
}

// MEDIA QUERY ACCUEIL
// FORMAT MOBILE

@media (min-width: 375px) and (max-width: 450px) {
    .about_me .small_title_about {
        position: relative;
        bottom: 17rem;
        left: 1.5rem;
    }

    .about_me .description_about p {
        line-height: 2rem;
        color: $font-color-whiteish;
        font-family: "PP Neue Montreal", sans-serif;
        opacity: 1;
        margin-left: -1rem;
        font-size: 1rem;
    }
}

// MEDIA FOR DEVICES SUCH AS IPADS
@media (min-width: 768px) and (max-width: 1024px) {
    .about_me .description_about p {
        line-height: 3rem;
        font-size: 1.5rem;
        width: 39rem;
        margin: 0;
    }
}


// ABOUT ME PAGE

nav {
    padding: 0;
    .contact_nav {
        padding: 28px 40px 0 0;
        position: fixed;
        right: 0;
        z-index: 2;
        bottom: 53rem;

        span {
            text-transform: uppercase;
            text-decoration: none;
            color: $font-color-whiteish;
            border-bottom: 1px solid $font-color-whiteish;
            font-family: $font-family-ibm-plex-mono;
            font-size: 1.3rem;

            &:hover {
                cursor: pointer;
            }
        }
    }
}

.introduction {
    margin-top: 6rem;
    padding: 4%;
    height: 100vh;

    .intro_wrapper {
        display: flex;
        align-items: center;
        flex-direction: column;

            .title_container {
                display: flex;
                flex-direction: column;
                justify-content: space-around;
            }
            
                h1 {
                    font-size: 4.5rem;
                    color: #d2d0d0;
                    margin: 0;
                    font-family: $font-family-helvetica-neue;
                    text-transform: uppercase;

                    .title_desc {
                        .underline {
                            background: linear-gradient(90deg, #b3b3b3, #f1f1f1);
                            background-clip: text;
                            -webkit-text-fill-color: transparent;
                            text-decoration: underline;
                            text-decoration-color: #b3b3b3;
                            text-decoration-thickness: 2px;
                            text-underline-offset: 4px;
                        }
                    }
                }

                .download_cv {
                    margin-top: 2rem;
                    font-size: 1.3rem;
                    color: #d2d0d0; 
                    text-decoration: none;
                    background-color: rgba(255, 255, 255, 0.1);
                    padding: 10px 20px;
                    border-radius: 12px;
                    font-family: $font-family-helvetica-neue;
                    transition: background-color 0.3s ease, color 0.3s ease;
                    border: 1px solid #d9d9d96c;
                    width: fit-content;
                    transition: .5s;

                    &:hover {
                        background-color: #d2d0d0;
                        color: #201f1f;
                    }
                }
            }
        }

.quote {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
    .quote_container {
        width: 80%;

        p {
            color: rgba(234, 232, 232, 0.861);
            font-family: $font-family-helvetica-neue;
            font-size: 3rem;
            opacity: .7;
        }
    }
}

.grid_key {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(8, 1fr);  
    gap: 20px;
    width: 100%;
    padding: 10% 4%;
    margin-bottom: 8rem;

    .grid_title {
        list-style-type: disc;
        position: absolute;
        top: 125rem;
        color: white;
        font-family: $font-family-helvetica-neue;
        text-transform: uppercase;
    }

    .grid_item {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        color: black;
        font-family: Helvetica, sans-serif;
        text-align: center;
        border: 1px solid #d9d9d96c;
        padding: 1rem;
        aspect-ratio: 1 / 1;

        &:hover {
            background-color: #cccccca8;
            transition: .5s;
        }

        span {
            position: absolute;
            top: 10px;
            left: 10px;
            font-size: 1.5rem;
            font-family: $font-family-helvetica-neue;
        }

        p {  
            position: absolute;
            font-size: 1.5rem;
            opacity: 0.8;
            margin: 10rem 0 1rem 1rem;
            text-align: left;
            font-family: $font-family-helvetica-neue;
        }
    }
  }
  
  .grid_item.filled {
    background-color: #dddddd;
    opacity: 0;
  }

  .timeline {
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 50px 0;
    padding: 0 4%;
    width: 100%;
    
    .timeline_container {
        display: flex;
        justify-content: space-between;
        margin-bottom: 120px;
        position: relative;
        width: 100%;

        &:nth-child(odd) {
            justify-content: flex-start;

            .timeline_content {
                justify-content: flex-start;


                &:hover {
                    transition: .5s;
                    background-color: #81808020;
                }


                h3 {
                    font-size: 1.3rem;
                    margin: 0 0 0.5rem 0; 
                    text-transform: uppercase;
                }

                .date {
                    display: block;
                    font-size: 1rem;
                    color: rgba(255, 255, 255, 0.7);
                    margin-bottom: 0.5rem; 
                }

                p {
                    font-size: 1.1rem;
                    opacity: 0.8;
                }
            }

            &:before {
                content: '';
                position: absolute;
                left: 50%;
                top: 50%;
                width: 25px;
                height: 2px;
                background-color: rgba(255, 255, 255, .2);
                transform: translateX(-50%);
            }
        }

        &:nth-child(even) {
            justify-content: flex-end;

            .timeline_content {
                justify-content: flex-end;

                &:hover {
                    transition: .5s;
                    background-color: #81808020;
                }


                h3 {
                    font-size: 1.3rem;
                    margin: 0 0 0.5rem 0; 
                    text-transform: uppercase; 
                }

                .date {
                    display: block; 
                    font-size: 1rem; 
                    color: rgba(255, 255, 255, 0.7); 
                    margin-bottom: 0.5rem; 
                }

                p {
                    font-size: 1.1rem;
                    opacity: 0.8;
                }
            }

            &:before {
                content: '';
                position: absolute;
                right: 50%;
                top: 50%;
                width: 25px;
                height: 2px;
                background-color: rgba(255, 255, 255, .2);
                transform: translateX(50%);
            }
        }

        .timeline_content {
            width: 45%;
            padding: 20px;
            border: 1px solid rgba(255, 255, 255, 0.2);
            background-color: #242424;
            color: #f1F1f1;
            font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
            position: relative;
            border-radius: 16px;
        }
    }

    .timeline_line {
        position: absolute;
        left: 50%;
        top: 0;
        bottom: 0;
        width: 2px;
        background-color: rgba(255, 255, 255, .2);
        transform: translateX(-50%);
    }
}

.story-title {
    text-align: center;
    margin-bottom: 40px;
    
    h2 {
        font-family: $font-family-helvetica-neue;
        font-size: 1.5rem;
        color: $font-color-whiteish;
        margin-bottom: 4rem;
        text-transform: uppercase;
    }
}