$font-family-helvetica-neue: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-family-ibm-plex-mono: 'IBM Plex Mono', monospace;
$font-color-beige: #D9D9D9AD;
$font-color-blackish: #0e0e0e;
$font-family-pp-neue-montreal: 'PP Neue Montreal', sans-serif;
$font-color-whiteish: #f1F1f1;


.about_me {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;

    .small_title_about {
        position: relative;
        bottom: 22rem;
        left: 5.5rem;

        span {
            color: $font-color-whiteish;
            text-transform: uppercase;
            font-family: $font-family-ibm-plex-mono;
        }
    }

    .description_about {
        p {
            line-height: 4rem;
            color: $font-color-whiteish;
            font-size: 2.2rem;
            font-family: $font-family-pp-neue-montreal;
            opacity: .5;
            margin-left: 3rem;
        }
    }
}

// MEDIA QUERY ACCUEIL
// FORMAT MOBILE

@media (min-width: 375px) and (max-width: 450px) {
    .about_me .small_title_about {
        position: relative;
        bottom: 17rem;
        left: 1.5rem;
    }

    .about_me .description_about p {
        line-height: 2rem;
        color: $font-color-whiteish;
        font-family: "PP Neue Montreal", sans-serif;
        opacity: 1;
        margin-left: -1rem;
        font-size: 1rem;
    }
}

// MEDIA FOR DEVICES SUCH AS IPADS
@media (min-width: 768px) and (max-width: 1024px) {
    .about_me .description_about p {
        line-height: 3rem;
        font-size: 1.5rem;
        width: 39rem;
        margin: 0;
    }
}