$font-family-helvetica-neue: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-family-ibm-plex-mono: 'IBM Plex Mono', monospace;
$font-color-beige: #D9D9D9AD;
$font-color-blackish: #0e0e0e;
$font-family-pp-neue-montreal: 'PP Neue Montreal', sans-serif;
$font-color-contact-black: #1C1A13FF;

.contact {
    height: 100vh;
    display: flex;
    align-items: center;

    .contact-container {
        width: 95vw;
        height: 70vh; 
        display: grid;
        grid-template-rows: repeat(4, 0.8fr);  
        // grid-column-gap: 10px;  
        // grid-row-gap: 10px;  

        .div1 { 
            display: flex;
            align-items: center;
            justify-content: center;
            grid-area: 1 / 2 / 3 / 6; 
            border: grey 1px solid;
            color: $font-color-contact-black;
            background-color: rgb(134, 132, 132);
            font-size: 10rem;
            font-family: $font-family-pp-neue-montreal;
            font-weight: 500;
        }

        .div2 { 
            display: flex;
            justify-content: center;
            align-items: center;
            grid-area: 1 / 6 / 3 / 8; 
            border: grey 1px solid;
            background-color: #0e0e0e;
            font-family: $font-family-pp-neue-montreal;

            svg {
                width: 200px;
                height: 200px;
            }
        }

        .div3 { 
            grid-area: 3 / 2 / 4 / 5; 
            border: grey 1px solid;
        }

        .div4 { 
            grid-area: 3 / 5 / 4 / 8; 
            border: grey 1px solid;
        }

        .div5 { 
            grid-area: 4 / 2 / 5 / 8; 
            border: grey 1px solid;
        }
    }
}