$font-family-helvetica-neue: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-color-beige: #D9D9D9AD;
$font-color-whiteish: #f1f1f1;
$font-color-bg-blue-form: #4430cf;

.footer_contact {
    margin-top: 8rem;
    position: relative; 
}