$font-family-helvetica-neue: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-family-ibm-plex-mono: 'IBM Plex Mono', monospace;
$font-color-beige: #D9D9D9AD;
$font-color-blackish: #0e0e0e;
$font-family-pp-neue-montreal: 'PP Neue Montreal', sans-serif;
$font-color-whiteish: #f1F1f1;

@keyframes growShrinkMobile {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(3); 
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}

@keyframes fadeInOutMobile {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.5; 
  }
}

@keyframes fadeInMobile {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


@keyframes growShrink {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(10);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}

@keyframes fadeInOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.loading_container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  animation: fadeInOut 2.3s forwards; 

  svg {
    height: 50px;
    animation: growShrink 2.3s forwards;
  }
}

.hero_section {
  height: 100vh;
  position: relative;
  overflow: hidden;
  color: $font-color-whiteish;
  width: 100%;
  display: none; 
  animation: fadeIn 5s forwards;

  .contact_nav {
    padding: 28px 40px 0 0;
    position: fixed;
    right: 0;
    z-index: 2;

    span {
      text-transform: uppercase;
      text-decoration: none;
      color: $font-color-whiteish;
      border-bottom: 1px solid $font-color-whiteish;
      font-family: $font-family-helvetica-neue;
      font-size: 1.3rem;

      &:hover {
        cursor: pointer;
      }
    }
  }

  #vanta-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    height: 100vh;

    .vanta-canvas {
      width: 100% !important;
      height: 100% !important;
      position: absolute !important;
      top: 0 !important;
      left: 0 !important;
  }
}

  .hero {
    padding: 11%;
    width: 100%;

    .hero_center {
      display: flex;
      flex-direction: column;
      align-items: center;
      flex-wrap: wrap;

      svg {
        width: 50px;
        height: 50px;
      }

      h1 {
        font-size: 5.5rem;
        text-align: center;
        font-family: $font-family-pp-neue-montreal;
        padding: 2vh 0;
        display: flex;
        flex-direction: column;
        line-height: 0.88;
        text-transform: uppercase;
      }

      h2 {
        font-family: $font-family-pp-neue-montreal;
        text-transform: uppercase;
        font-size: 1.3rem;
        font-weight: 400;
      }
    }
  }

  .hero_bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;

    #left_nav {
      display: flex;
      align-items: center;
      padding-left: 7%;

      ul {
        list-style: none;
        display: flex;

        a {
          text-decoration: none;
          color: $font-color-whiteish;
          margin-right: 3rem;
          font-family: $font-family-helvetica-neue;
          text-transform: uppercase;
          position: relative;
          font-size: 0.8rem;
          border-bottom: 1px solid $font-color-whiteish;
          padding-bottom: 1px;
        }
      }
    }

    .bottom_center {
      display: flex;
      justify-content: center;
      align-items: center;
      padding-left: 4.5rem;

      h2 {
        font-family: $font-family-ibm-plex-mono;
        text-transform: uppercase;
        font-size: 0.8rem;
      }
    }

      #right_nav {
        display: flex;
        align-items: center;
        padding-right: 7%;

        ul {
          list-style: none;
          display: flex;

            a {
              text-decoration: none;
              color: #f1F1f1;
              margin-right: 3rem;
              font-family: "IBM Plex Mono", monospace;
              text-transform: uppercase;
              position: relative;
              font-size: 0.8rem;
              border-bottom: 1px solid #f1F1f1;
              padding-bottom: 1px;
            }
          }
        }
      }

    }

/* Responsive for screens between 475px and 768px */
@media (min-width: 451px) and (max-width: 768px) {

  .burgerIcon {
    display: block !important;
    width: 45px;
    height: 45px;
    position: absolute;
    right: 0;
    top: 5px;
    margin-right: 0.6rem;
    }
    .about_me .description_about p {
      font-size: 2rem !important;
  }
  .hero_section .hero_bottom .bottom_center {
    display: flex;
    padding-left: 0;
}
  .hero_section .hero {
    padding: 15% 8% 10% 8%;

    .hero_center {
      h1 {
        font-size: 3rem; 
      }
    }

    .year_of_birth,
    .date_of_birth,
    .hobby,
    .year {
      display: none;
    }
  }

  .hero_section .hero_bottom {
    margin-top: 6rem;

    nav ul {
      display: block;
      padding: 0;
      font-size: 0.8rem;
    }
  }

  .hero_bottom .bottom_text .first_part,
  .hero_bottom .bottom_text .second_part,
  .hero_bottom .bottom_text .third_part {
    span {
      font-size: 1.2rem !important; 
    }
  }

  .hero_section .hero_bottom .bottom_text {
    width: 50%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%); 
  }

  .hero_section .hero .hero_center {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 1.5rem;
  }

  .hero_section .hero .hero_center h2 {
    font-family: "PP Neue Montreal", sans-serif;
    text-transform: uppercase;
    font-size: 1.3rem;
  }

  .hero_section .contact_nav {
    display: none;
  }

  .hero_section .hero_bottom .bottom_center {
    display: block;
    padding-right: 1rem;
    h2 {
      width: auto;
      font-size: 1rem;
    }
  }

  #right_nav .frontendmentor {
    width: 9rem;
  }
}

@media (min-width: 375px) and (max-width: 450px) {
  // Responsive for HERO SECTION
  .loading_container {
    svg {
      animation: growShrinkMobile 5s forwards;
    }
  }

  .hero_section {
    animation: fadeInMobile 5s forwards;
  }
  
  .hero_section .hero {
    padding: 25% 11% 11% 11%;

    .hero_center {
      h1 {
        font-size: 2.7rem;
      }
    }

    .year_of_birth,
    .date_of_birth,
    .hobby,
    .year {
      display: none;
    }
  }

  .hero_section .hero_bottom {
    margin-top: 230px;

    nav ul {
      display: block;
      padding: 0;
      font-size: 0.7rem;
    }
  }

  .hero_bottom .bottom_text .first_part,
  .hero_bottom .bottom_text .second_part,
  .hero_bottom .bottom_text .third_part {
    span {
      font-size: 1rem !important;
    }
  }

  .hero_section .hero_bottom .bottom_text {
    width: 30%;
    position: absolute;
    left: 75%;
  }

  .hero_section .hero .hero_center {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 2rem;
  }

  .hero_section .hero .hero_center h2 {
    font-family: "PP Neue Montreal", sans-serif;
    text-transform: uppercase;
    font-size: 1.1rem;
  }

  .hero_section .contact_nav {
    display: none;
  }

  .hero_section .hero_bottom .bottom_center {
    display: none;
}
}

// MEDIA for devices such as IPADS
@media (min-width: 768px) and (max-width: 1024px) {
  body {
    overflow-x: hidden;
  }
  .hero_section .hero .hero_center h1 {
    font-size: 3.8rem;
}

.hero_section .hero {
  padding: 20% 11% 11% 11%;
}

.about_me {
  height: 75vh !important;
}
.displayed_projects {
  height: 0 !important;
  gap: 3rem;
}
.hero_section .hero_bottom {
  margin-top: 8rem;
}

.hero_section .hero_bottom .bottom_center {
  padding-right: 0;
}

.hero_section .hero_bottom .bottom_center h2 {
  width: 6rem;
}

#right_nav .frontendmentor {
  width: 11rem;
}

}