*,
*::before,
*::after {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

@import 'hero';
@import 'project';
@import 'projectDetails';
@import 'aboutme';
@import 'skills';
@import 'contact';
@import 'footer';

$font-family-helvetica-neue: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-family-ibm-plex-mono: 'IBM Plex Mono', monospace;
$font-color-beige: #ede8e4;
$font-color-blackish: #0e0e0e;
$font-family-pp-neue-montreal: 'PP Neue Montreal', sans-serif;
$font-color-bg-blue-form: #4430cf;
$background-nav: #080808;

::selection {
  background-color: $font-color-bg-blue-form;
}


body {
    background-color: #0e0e0e;
    margin: 0;

      main {
        display: none;
      }
}

#burgerIcon {
  display: none;

  &:hover {
    cursor: pointer;
  }
}

footer {
  display: none;
}


.navIcon {
  height: 30px;
  width: 30px;
  display: inline-block;
}

@media (min-width: 375px) and (max-width: 450px) {
  #nav-bar {
    display: none;
  }

  #burgerIcon {
    display: block;
    width: 40px;
    height: 40px;
    position: absolute;
    right: 0;
    top: 5px;
    margin-right: .6rem;
  }
}

// MEDIA for devices such as IPADS
@media (min-width: 768px) and (max-width: 1024px) {
  #burgerIcon {
    display: block;
    width: 45px;
    height: 45px;
    position: absolute;
    right: 0;
    top: 5px;
    margin-right: .6rem;
  }
}