*,
*::before,
*::after {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

@import 'hero';
@import 'project';
@import 'projectDetails';
@import 'aboutme';
@import 'skills';
@import 'contact';
@import 'footer';

$font-family-helvetica-neue: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-family-ibm-plex-mono: 'IBM Plex Mono', monospace;
$font-color-beige: #ede8e4;
$font-color-blackish: #0e0e0e;
$font-family-pp-neue-montreal: 'PP Neue Montreal', sans-serif;
$font-color-bg-blue-form: #4430cf;
$background-nav: #080808;

::selection {
  background-color: $font-color-bg-blue-form;
}


body {
    background-color: #0e0e0e;
    margin: 0;

      main {
        display: none;
      }
}

.back {
  position: absolute;
  left: 126px;
  font-size: 1.2rem;
  color: #ede8e4;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  top: 100px;
}
.about-back {
  position: absolute;
  left: 56px;
  font-size: 1.2rem;
  color: #ede8e4;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  top: 100px;
}
.back > a {
  text-decoration: none;
  padding-bottom: 1.5px;
  border-bottom: 1px solid $font-color-beige;
  color: $font-color-beige;
  font-family: $font-family-helvetica-neue;
}

footer {
  display: none;
}


.navIcon {
  height: 30px;
  width: 30px;
  display: inline-block;
}