$font-family-helvetica-neue: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-family-ibm-plex-mono: 'IBM Plex Mono', monospace;
$font-color-beige: #D9D9D9AD;
$font-color-blackish: #0e0e0e;
$font-family-pp-neue-montreal: 'PP Neue Montreal', sans-serif;
$font-color-whiteish: #f1F1f1;


// LANDING PAGE CSS

.project_section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 0 2rem; 
    .title {
        display: flex;
        align-items: flex-start;

        .title_before {
            position: absolute;
            left: 310px;
            padding: 30px;
            color: $font-color-whiteish;
            text-transform: uppercase;
            font-family: $font-family-ibm-plex-mono;

            .upper_text {
                text-align: right;
                text-transform: uppercase;
            }
        }

        h2 {
            text-transform: uppercase;
            color: $font-color-whiteish;
            font-size: 7rem;
            margin: 0;
            font-family: $font-family-pp-neue-montreal;
        }

        .title_after {
            padding: 30px;
            color: $font-color-whiteish;
            text-transform: uppercase;
            font-family: $font-family-ibm-plex-mono;
            align-self: flex-end;
            position: absolute;
            right: 330px;
        }
    }
}

#scrolling-work {
    margin-top: 3rem;
}

.scrolling-text {
    width: 100vw;
    overflow: hidden;
    position: relative;
    top: -7.2rem;
    background-color: $font-color-beige;
    color: $font-color-blackish;
    font-family: $font-family-pp-neue-montreal;
    font-size: 6rem;
    margin-top: 40px;
    white-space: nowrap;
}

.scrolling-text-content {
    display: flex;
    animation: scroll 20s linear infinite;
}

.scrolling-text span {
    padding: 0 2rem;
}

#reverse .scrolling-text-content {
    animation: scroll-reverse 20s linear infinite;
}

@keyframes scroll {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-100%);
    }
}

@keyframes scroll-reverse {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0%);
    }
}

.displayed_projects {
    height: 70vh;
    padding: 0 2rem; 
    gap: 3rem; 

    .title_display {
        color: $font-color-whiteish;
        font-family: $font-family-ibm-plex-mono;
        text-transform: uppercase;
        position: relative;
        top: -1.5rem;
        display: flex;
        gap: 0.5rem;
        opacity: .5;
    }

    .img_container {
        display: flex;
        gap: 3rem; 

        img {
            max-width: calc(50vw - 3rem); 
            height: auto;
            padding-bottom: 1rem;
        }

        span {
            font-family: $font-family-ibm-plex-mono;
            color: $font-color-whiteish;
            font-size: 1.1rem;
            text-transform: uppercase;
        }

        h3 {
            color: #d9d9d9cb;
            font-size: 1.8rem;
            text-transform: uppercase;
            font-family: "PP Neue Montreal", sans-serif;
            margin-top: 5px;
        }
       }


    .more_projects {
        display: flex;
        margin-top: 3rem;

        a {
            color: $font-color-whiteish;
            text-transform: uppercase;
            font-family: $font-family-ibm-plex-mono;
            text-decoration: none;
            font-size: 1.5rem;
            border-bottom: $font-color-whiteish 1px solid;
            padding-bottom: 1px;

            svg {
                margin-left: 1rem;
            }
        }
    }

}

// ALL PROJECTS PAGE CSS

nav {
    display: flex;
    padding: 2rem;
    justify-content: space-between;
    align-items: center;

    a {
        text-transform: uppercase;
        text-decoration: none;
        color: $font-color-whiteish;
        font-family: $font-family-ibm-plex-mono;

      svg {
        height: 50px;
        width: 50px;
        }
    }

    .contact_nav {
        a {
            border-bottom: 1px solid $font-color-whiteish;
        }
    }
}

.my_work {
    margin-top: 2rem;
    padding-left: 2.5rem;

    .my_work_title {
        color: $font-color-whiteish;
        text-transform: uppercase;
        font-family: $font-family-helvetica-neue;
        font-weight: 400;
        font-size: 6rem;
        margin: 0;

        span {
            font-size: 1.3rem;
            position: absolute;
            left: 38%;
            color: $font-color-beige;
            font-family: $font-family-ibm-plex-mono;
            text-transform: none;
        }
    }

    .my_work_filter {
        margin-top: 2rem;
        display: flex;
        list-style: none;
        gap: 1rem;
        padding: 0;

        li {
           color: $font-color-beige; 
           border: 1px solid $font-color-beige;
           padding: 15px;
           font-family: $font-family-ibm-plex-mono;

           &:hover {
            cursor: pointer;
           }
        }
    }
}

.work_filter_item.active_filter_item {
    color: $font-color-whiteish !important;
    border-color: $font-color-whiteish !important;
}


// MEDIA QUERY
// 375px devices
// Main screen

@media (min-width: 375px) and (max-width: 450px) {
    #scrolling-work .scrolling-text-content span {
        font-size: 3rem;
    }

    .displayed_projects .title_display {
        display: flex;
        justify-content: center;
    }

    .displayed_projects .img_container {
        display: flex;
        gap: 3rem;
        flex-direction: column;
    }

    .img_container .prestige_yacht_mockup, 
    .img_container .other_mockup {
        display: flex;
        flex-direction: column;
    }

    .displayed_projects .img_container img {
        max-width: calc(50vw - -8rem);
        height: auto;
        padding-bottom: 1rem;
    }

    .displayed_projects {
        padding: 0 2rem;
        height: 100vh;
    }

    .scrolling-text span {
        padding: 0 2rem;
        font-size: 3rem;
    }
}

// MEDIA FOR DEVICES SUCH AS IPADS
@media (min-width: 768px) and (max-width: 1024px) {
    .displayed_projects .img_container {
        display: block;
    }

    .displayed_projects .prestige_yacht_mockup,
    .displayed_projects .other_mockup {
        display: flex;
        flex-direction: column;
    }

    .displayed_projects .img_container img {
        max-width: calc(50vw - -15rem);
    }
}




// Project page 
// Project page 
// Project page 
// Project page 

// MEDIA QUERY 375px to 450px
// Project page 

@media (min-width: 375px) and (max-width: 450px) {
    nav .contact_nav a {
        display: none;
    }

    #burgerIcon {
        display: block;
        top: 30px !important;
        margin-right: .8rem;
    }

    .my_work .my_work_title {
        font-size: 3.5rem;
    }

    .my_work .my_work_title span {
        font-size: 1.1rem;
        left: 20rem;
    }

    .my_work .my_work_filter {
        font-size: .8rem;
        flex-wrap: wrap;
    }
}