$font-family-helvetica-neue: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-family-ibm-plex-mono: 'IBM Plex Mono', monospace;
$font-color-beige: #ede8e4;
$font-color-blackish: #0e0e0e;
$font-family-pp-neue-montreal: 'PP Neue Montreal', sans-serif;

.project_section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 0 2rem; /* Ajout d'une marge sur les côtés */

    .title {
        display: flex;
        align-items: flex-start;

        .title_before {
            position: absolute;
            left: 310px;
            padding: 30px;
            color: $font-color-beige;
            text-transform: uppercase;
            font-family: $font-family-ibm-plex-mono;

            .upper_text {
                text-align: right;
                text-transform: uppercase;
            }
        }

        h2 {
            text-transform: uppercase;
            color: $font-color-beige;
            font-size: 7rem;
            margin: 0;
            font-family: $font-family-pp-neue-montreal;
        }

        .title_after {
            padding: 30px;
            color: $font-color-beige;
            text-transform: uppercase;
            font-family: $font-family-ibm-plex-mono;
            align-self: flex-end;
            position: absolute;
            right: 330px;
        }
    }
}

.scrolling-text {
    width: 100%;
    overflow: hidden;
    position: relative;
    top: -7.2rem;
    background-color: $font-color-blackish;
    color: $font-color-beige;
    font-family: $font-family-pp-neue-montreal;
    font-size: 6rem;
    padding: 40px 0;
    margin-top: 40px;
    white-space: nowrap;
}

.scrolling-text-content {
    display: flex;
    animation: scroll 20s linear infinite;
}

.scrolling-text span {
    padding: 0 2rem;
}

@keyframes scroll {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-50%);
    }
}

.displayed_projects {
    height: 70vh;
    padding: 0 2rem; 
    gap: 3rem; 

    .img_container {
        display: flex;
        gap: 3rem; 

        img {
            max-width: calc(50vw - 3rem); 
            height: auto;
        }

        span {
            font-family: $font-family-ibm-plex-mono;
            color: $font-color-beige;
            font-size: 1.1rem;
            text-transform: uppercase;
        }

        h3 {
            color: #ede8e4;
            font-size: 1.8rem;
            text-transform: uppercase;
            font-family: "PP Neue Montreal", sans-serif;
            margin-top: 5px;
            padding: 10px 0 1rem 0;
            border-bottom: 1px solid white;
        }
       }


    .more_projects {
        display: flex;
        margin-top: 3rem;

        a {
            color: $font-color-beige;
            text-transform: uppercase;
            font-family: $font-family-ibm-plex-mono;
            text-decoration: none;
            border-bottom: 1px solid white;
            padding: 1px 0;
            font-size: 1.5rem;
        }
    }

}