$font-family-helvetica-neue: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-family-ibm-plex-mono: 'IBM Plex Mono', monospace;
$font-color-beige: #D9D9D9AD;
$font-color-blackish: #0e0e0e;
$font-family-pp-neue-montreal: 'PP Neue Montreal', sans-serif;
$font-color-whiteish: #f1F1f1;


.skills-scroll {
    top: 10rem;
}

.skills_section {
    height: 110vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 2rem; 

    .skills_container {
        display: flex;
        flex-direction: column;
        gap: 40px; 

        .upper_container,
        .lower_container {
            display: flex;
            justify-content: space-between; 
            gap: 14rem;

            .upper_skills,
            .lower_skills {
                max-width: 45%; 
                width: 100%;
            }

            .title {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 10px;
                h3 {
                    font-size: 1.7rem;
                    font-family: $font-family-pp-neue-montreal;
                    color: $font-color-whiteish;
                    text-transform: uppercase;
                }
                span {
                    font-size: 1rem;
                    font-family: $font-family-ibm-plex-mono;
                    color: $font-color-beige;
                }
            }

            .under_skills_container {
                display: flex;
                justify-content: space-between; 

                .left_side,
                .right_side {
                    display: flex;
                    flex-direction: column;
                    gap: 10px; 
                    width: 45%; 

                    .under_skills {
                        font-size: 1.05rem;
                        color: $font-color-beige;
                        text-transform: uppercase;
                        font-family: $font-family-pp-neue-montreal;
                        padding-bottom: 12px;
                        padding-right: 10rem;
                        border-bottom: 1px solid rgb(81, 80, 80);
                        width: 280px;
                        white-space: nowrap;
                    }
                }
            }
        }
    }
}

@media (min-width: 375px) and (max-width: 450px) {
    .skills_section {
        height: 100vh;
        margin: 25rem 0 15rem 0;
    }

    .skills_section .skills_container .upper_container, 
    .skills_section .skills_container .lower_container {
        display: block; 
        margin-left: 26%;
    }

    .skills_section .skills_container .upper_container .under_skills_container, 
    .skills_section .skills_container .lower_container .under_skills_container {
        display: flex;
        justify-content: space-between;
        gap: 6rem;
    }

    .skills_section .skills_container .upper_container .upper_skills, 
    .skills_section .skills_container .upper_container .lower_skills, 
    .skills_section .skills_container .lower_container .upper_skills, 
    .skills_section .skills_container .lower_container .lower_skills {
        margin-top: 1rem;
    }

    .skills_section .skills_container .upper_container .title h3, 
    .skills_section .skills_container .lower_container .title h3 {
        font-size: 1.2rem;
    }

    .skills_section .skills_container .upper_container .title span, 
    .skills_section .skills_container .lower_container .title span {
        font-size: 0.8rem;
    }

    .skills_section .skills_container .upper_container .under_skills_container .left_side .under_skills, 
    .skills_section .skills_container .upper_container .under_skills_container .right_side .under_skills, 
    .skills_section .skills_container .lower_container .under_skills_container .left_side .under_skills, 
    .skills_section .skills_container .lower_container .under_skills_container .right_side .under_skills {
        font-size: 0.8rem;
        width: auto;
    }
}

// MEDIA FOR DEVICES SUCH AS IPADS
@media (min-width: 768px) and (max-width: 1024px) { 
    .skills-scroll {
        top: 31rem;
    }

    .skills_section {
        margin: 34rem 0 10rem 0;
    }

    .skills_section .skills_container .upper_container, .skills_section .skills_container .lower_container {
        display: block;
        margin-left: 12rem;
    }

    .skills_section .skills_container {
        padding-left: 18rem;
    }

    .skills_section .skills_container .upper_container .under_skills_container .left_side .under_skills, .skills_section .skills_container .upper_container .under_skills_container .right_side .under_skills, .skills_section .skills_container .lower_container .under_skills_container .left_side .under_skills, .skills_section .skills_container .lower_container .under_skills_container .right_side .under_skills {
        padding-right: 21rem;
        width: auto;
    }
}